<div class="container">
  <h2>New in smartphones</h2>
  <div class="more-products">
    <app-product>
      <h4 class="title">New in Iphone</h4>
      <button class="btn btn-more">Show More</button>
    </app-product>
    <app-product>
      <h4 class="title">New in Samsung</h4>
      <button class="btn btn-more">Show More</button>
    </app-product>
    <app-product>
      <h4 class="title">New in OnePlus</h4>
      <button class="btn btn-more">Show More</button>
    </app-product>
    <app-product>
      <h4 class="title">New in MI</h4>
      <button class="btn btn-more">Show More</button>
    </app-product>
  </div>
</div>